body {
    margin: 0;
    padding: 0;
    background-color: rgb(233, 241, 248);
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.app {
    background-color: azure;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 25px, rgba(0, 0, 0, 0,08) 0 0 0 1px;
    border-radius: 10px;
    padding: 10px;
    width: 800px;
    margin-top: 50px;
}
.button-container {
    display: flex;
    align-items: center;
}
.button-container button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 12px;
    background-color: transparent;
}
/* List header*/
.list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(0, 0, 0, 0.05) 1px solid;

}